

/***SITE STYLE***/

body {
    margin: 0;
}
.background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11002c+0,6100ff+94 */
    background: #11002c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #11002c 0%, #6100ff 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #11002c 0%, #6100ff 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #11002c 0%, #6100ff 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11002c', endColorstr='#6100ff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}
.header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#explo{
    position: absolute;
    z-index: 9;
    opacity: 0;
}

.text-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
justify-content: center;

}
h1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 4;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

/***TEXT***/
.texts{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-left: 250px;
}
.texts p{

    text-align: center;
    font-style: italic}

#text1{
    opacity: 0;
}

.text-apparition span{

    opacity: 0;
}
.firststars{

    opacity: 0.5;
    fill: #fff;
}

.sound{
    width: 40px;
    top: 50px;
    position: absolute;
    right: 50px;
    cursor: pointer;
    z-index: 4;
}

#grain{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    mix-blend-mode: overlay;
    pointer-events: none;

}

.sound.hidden{
    display: none;
}
.sound .cls-1 {
    fill: #fff;
}

#ground {
    position: absolute;
    bottom: 0;
    z-index: 5;
}

#ground .cls-1 {
    isolation: isolate;
}

#ground .cls-2 {
    mix-blend-mode: overlay;
}

#ground .cls-3 {
    fill: url(#Dégradé_sans_nom_81);
}

#girl {
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 60px;
    z-index: 6;
}

#girl .cls-1 {
    fill: url(#Dégradé_sans_nom_3);
}

#girl .cls-2 {
    fill: #eceef0;
}

#girl .cls-3 {
    fill: #4600ba;
}

#girl .cls-4 {
    fill: url(#Dégradé_sans_nom_73);
}

#meteor {
    opacity: 1;
    position: absolute;
    width: 700px;
    right: 400px;
    top: 0px;
    animation: grain 0.5s steps(4) infinite;
}


#down {
    width: 30px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 50px;
    cursor: pointer;
    z-index: 4;
}

#down .cls-1 {
    isolation: isolate;
}

#down .cls-2 {
    mix-blend-mode: overlay;
}

#down path {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 10px;

}

/***Hair anim***/
#hair-container{
    position: absolute;
    top: 200px;
    left: 15px;
    z-index: 8;
}






/***TRANSITION***/
.transition{
    overflow: hidden;
    position: relative;
}
.transition .bigstars,.transition .firststars,.transition .midstars{
    position: absolute;

}
#stars{
    position: absolute;
}



/***ANIMATIONS***/
@keyframes grain {
    0%,100% {filter: url(#displacementFilter1)}
    25% {filter: url(#displacementFilter2)}
    50% {filter: url(#displacementFilter3)}
    75% {filter: url(#displacementFilter4)}
}

.text-apparition.fadein span {
    animation: fadeIn 1s ease-out;
    animation-fill-mode: both;
}

.text-apparition.fadeout span {
    animation: fadeOut 1s ease-in;
    animation-fill-mode: both;
}



@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateX(25%);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        text-shadow: 0 0 0 rgb(255, 255, 255);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(25%);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        text-shadow: 0 0 0 rgb(255, 255, 255);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
        text-shadow: 0 0 0 rgb(255, 255, 255);
    }

    100% {
        opacity: 0;
        transform: translateY(-25%);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}

